@media (max-width:1020px), (orientation:portrait), (max-device-width:1020px), (handeld) {

.contenttext{
  font-size: 1em;
  line-height: 1.5em
}
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
  .title , #contacts{
    font-size: 100px
  }
  #main{
    grid-template-rows: 70px auto auto auto auto auto 100px;

}
  .contenttext{
    font-size: 0.8em;
    line-height: 1.5em
  }
  .html5{
    display: none;
  }
  .headermobile{
    display: flex;
    justify-content: center;
    top: 12px;
    width: 100vw;
    position: fixed;
    z-index: 0
  }
  .side{
    position: fixed;
    z-index: 2;
    display: block;
  }
  #curri{
    font-size: 100px
  }
}

}
@media (max-width:600px), (orientation:portrait), (max-device-width:1020px), (handeld) {
#photo1{
  grid-area: 4 / 1 / 7 / 3;

}
.html5{
  display: none;
}
.title , #contacts{
  font-size: 100px
}

.norm{
  display: none;
}
.headermobile{
  display: flex;
  justify-content: center;
  top: 12px;
  width: 100vw;
  position: fixed;
  z-index: 0
}
#main{
  grid-template-rows: 70px auto auto auto auto auto 100px;

}

.side{
  position: fixed;
  z-index: 2;
  display: block;
}
#infos{
  font-size: 1em;
  grid-area: 5 / 2 / 5 / 4;

}
#contacts{
  grid-area: 2 / 2 / 2 / 5;
  font-size: 3em;
  line-height: normal;
}
#contacttext{
  grid-area: 3 / 3 / 5 / 5;
}
#curri{
  font-size: 40px
}
  }
