@media (max-width:1020px), (orientation:portrait) {
.title{
  font-size: 100px
}
.contenttext{
  font-size: 1em;
  line-height: 1.5em
}
}

@media (max-width:600px), (orientation:portrait) {
#photo1{
  grid-area: 2 / 1 / 5 / 1;

}
  }
